/* Core brand colour */



.brand-blue {
    background-color: #b0d7db !important;
    color: black !important;
    font-weight:600 !important;
}

.brand-blue:hover {
    background-color: #74c4bd !important;
    color:black;
}


/* Purple “Magic” button */
.Magic {
    background-color: #30968c; /*#1fbba1; /* Bootstrap's purple-600    #6f42c1*/
    color: #fff !important;
    font-weight: 600 !important;
}

/* Optional hover states */
    .Magic:hover {
        background-color: #257870 !important;
    }


/* Queue styling tweaks */
.queue-wrapper {
    border: 3px solid #dee2e6;
    border-radius: 0.5rem;
}

.queue-col {
    padding: 1.5rem 0.75rem;
}

.queue-title {
    color:white; /* secondary text */
    margin-bottom: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 30px;
    /*background-color: #cfe2ff ;*/ /*#cfe2ff*/
}
.queue-col {
    background-color: #fff   !important;
    
}
.Content p{
    font-size: 25px ;
    color:black !important;
}
.Exit{
    width:95px;
}
